@{
    ViewBag.Title = "ABOUT AURORA";
}

@*<h3>@ViewBag.Message</h3>*@



<html>
<body>
    <h2 class="naslov">@ViewBag.Title</h2>
    <p>
        <b>
            Aurora is a popular online retailer shop
            that’s most popular for selling chic, classy, edgy clothing.
        </b>
    </p>
    <style>
        body {
            background-image: url(https://i.pinimg.com/originals/93/db/b4/93dbb416b9ed038550c596f871cb0177.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .naslov {
            text-align: center;
            font-family: math;
            font-size: 80px;
            padding-top: 150px;
        }
        p {
            font-size: 40px;
            text-align: center;
            padding-left: 100px;
            padding-top: 100px;
            padding-left: 500px;
            font-family: math;
            
        }
    </style>
</body>
</html>